name: Build and Release Gem
on:
  push:
    branches:
      - main
    paths:
      - lib/aws_local_config_parser/version.rb

jobs:
  release:
    name: Release to RubyGems.org
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
    # Build the gem package
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    # Run tests and rubocop
    - name: Run tests and rubocop
      run: bundle exec rake

    # Release
    - name: Release to RubyGems.org
      uses: rubygems/release-gem@v1
